section {
    display: flex;
}

main {
    padding: 2rem;
    max-width: calc(100% - 80px);
    width: 100%;
    background-color: #f4f4f4bd;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-spacing {
    margin-top: var(--mantine-spacing-xs);
    padding: var(--mantine-spacing-md)
}